
h1{
  font-size: 80px; /* Font size for the title */
  color: #9feea0d3;  /* Text color (white) */
  text-shadow: 5px 5px 5px #000000;
  font-family:  "Trebuchet MS";
}

h2{
  font-size: 40px;
  text-shadow: 5px 5px 5px #000000;
  color: #9feea0fd;
  text-align: center;
  font-family:  "Trebuchet MS";
}

h3{
  font-size: 25px;
  text-align: center;
  color:#9feea0f2;
  text-shadow: 2px 2px 2px #000000; 
}
  
h4{
  padding: 10px;
  font-size: 100%;
}

p{
  font-size: 16px;
  color: rgba(214, 236, 215, 0.793);
  text-align: center;
}

span{
  font-size: 17px;
  color: white;

}

.title{
  background-color: #052513eb; /*background-color: #053f43da;*/
}

body {
  font-family:  "Trebuchet MS", Tahoma, sans-serif;
  margin: 5px;
  background-color: #052513eb;
}

.backgroundDark{
  background-color: #072e18;;
}

.formContainer{
  width: 50%; /* Set a maximum width for the login container */
  height: 90%;
  margin: 10px center;
  position: relative;
  left: 24%;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 20px 20px 20px 20px rgba(0, 19, 4, 0.673);
  text-align: center;
  border-color: #052513dd;
  border-style: solid;
  border-width: 6px;  
}

.collapsible {
  background-color: #07331b88 ;
  color: white;
  cursor: pointer;
  padding: 10px;
  position: relative;
  left: 2%;
  width: 95%;
  border: none;
  text-align: center;
  outline: none;
  border-radius: 50px;
  font-size: 18px;
}

.active, .collapsible:hover {
  background-color: #fefefe;
  color: forestgreen;
}

.collapsible:after {
  content: '\002B';
  color: rgba(255, 255, 255, 0.639);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 10px;
  max-height: 0;
  position: relative;
  left: 30px;
  width: 90%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #072e188d;
  border-radius: 5px 5px 8px 8px;
  text-align: center;
}