
h1{
  font-size: 80px; /* Font size for the title */
  color: #9feea0d3;  /* Text color (white) */
  text-shadow: 5px 5px 5px #000000;
  font-family:  "Trebuchet MS";
}

h2{
  font-size: 40px;
  text-shadow: 5px 5px 5px #000000;
  color: #9feea0fd;
  text-align: center;
  font-family:  "Trebuchet MS";
}

.label{
  font-size: 25px;
  text-align: left;
  color:#fffffff2;
  text-shadow: 1px 1px 1px #000000; 
}



p{
  font-size: 16px;
  color: rgba(214, 236, 215, 0.793);
  text-align: center;
}

span{
  font-size: 17px;
  color: white;

}

.formContainer{
  width: 40% !important; /* Set a maximum width for the login container */
  height: 90%;
  margin: 10px center;
  position: relative;
  left: 24%;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 20px 20px 20px 20px rgba(0, 19, 4, 0.673);
  text-align: center;
  border-color: #052513dd;
  background-color:	#33993384;
  border-style: solid;
  border-width: 6px;  
}

.title{
  background-color: #052513eb; /*background-color: #053f43da;*/
}

body {
  font-family:  "Trebuchet MS", Tahoma, sans-serif;
  margin: 5px;
  background-color: #052513eb;
}

.backgroundDark{
  background-color: #072e18;;
}


.input {
  margin: 2px 0;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  width: 100%;
  background-color: #07331b88;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


.toggle {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  text-align: left;
  color:#e4eee7ec;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
